<template>
    <div class="buy-item" :class="{ 'buy-item--crossed': bought }">
        {{ props.item.name }}
        {{ props.item.amount }}
    </div>
    <div class="buy-item__controls">
        <SquareBtn isRemove @click="removeItem(props.item.name)">-</SquareBtn>
        <SquareBtn @click="markBought">V</SquareBtn>
    </div>
</template>

<script>
export default {
    name: "BuyItemComponent",
};
</script>

<script setup>
import { defineProps, ref } from "vue";
import { useStore } from "vuex";
import SquareBtn from "@/components/ui/Buttons/SquareBtn";

const bought = ref();

const props = defineProps({
    item: {
        type: Object,
    },
});

const store = useStore();
const removeItem = (item) => {
    store.commit("buyList/DELETE_BUY", item);
};

const markBought = () => [(bought.value = !bought.value)];
</script>

<style src="./styles.scss" lang="scss" scoped />
