.buy-item {
    @include transit ('color, background-color');

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border: 1px solid $cBlack;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        color: $cWhite;
        background-color:  $cLemonGreen;
    }   

    &__controls {
        display: flex;
    }

    &--crossed {
        text-decoration: line-through;
    }
}