<template>
    <button class="standart-btn">
        <slot />
    </button>
</template>

<script>
export default {
    name: "StandrtButtonUI",
};
</script>

<script setup></script>

<style src="./styles.scss" lang="scss" scoped />
