.standart-btn {
    @include transit('background-color');

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;  
    border-radius: 5px;
    cursor: pointer;  

    &:hover {
        background-color: aquamarine;
    }

}