<template>
    <div class="buy-list">
        <div class="buy-list__add">
            <div class="buy-list__input">
                <label for="buy">Name</label>
                <input type="text" id="buy" v-model="buy" class="input__text" />
            </div>

            <div class="buy-list__input">
                <label for="amount">Amount</label>
                <input
                    id="amount"
                    type="text"
                    v-model="amount"
                    class="input__text input__text--small"
                />
            </div>
            <SquareBtn @click="addBuy"> + </SquareBtn>
        </div>

        <div class="buy-list__list" v-for="item in buylist" :key="item.name">
            <BuyItem :item="item" />
        </div>
        <StandartButton @click="buysDone"> Buys done </StandartButton>
    </div>
</template>

<script>
export default {
    name: "BuyListComponent",
    data() {
        return {};
    },
};
</script>

<script setup>
import { computed, ref } from "vue";
import { useStore } from "vuex";
import BuyItem from "@/components/BuyList/Item";
import SquareBtn from "@/components/ui/Buttons/SquareBtn";
import StandartButton from "@/components/ui/Buttons/StandartButton";

const store = useStore();
const buylist = computed(() => store.getters["buyList/buylist"]);

const buy = ref();
const amount = ref();

const addBuy = () => {
    if (!buy.value) return;
    store.commit("buyList/ADD_BUY", { name: buy.value, amount: amount.value });
    buy.value = "";
    amount.value = "";
};

const buysDone = () => {
    store.commit("buyList/CLEAR");
};
</script>

<style src="./styles.scss" lang="scss" scoped />
