.buy-list {
    display: flex; 
    flex-direction: column; 

    &__add {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__input {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    &__list {
        width: 265px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        margin: 5px auto;
    }
}