<template>
    <div class="home">
        <BuyList />
    </div>
</template>

<script>
export default {
    name: "BuyListView",
};
</script>

<script setup>
import BuyList from "@/components/BuyList";
</script>
