<template>
    <div
        class="square-btn"
        :class="[props.isRemove ? 'square-btn--remove' : 'square-btn--add']"
    >
        <slot />
    </div>
</template>

<script>
export default {
    name: "SquareBtnUI",
};
</script>

<script setup>
import { defineProps } from "vue";

const props = defineProps({
    isRemove: {
        type: Boolean,
    },
});
</script>

<style src="./styles.scss" lang="scss" scoped />
