.square-btn {
    @include transit('background-color, border');

    min-width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 5px;


    &--add {
        background-color: $cLemonGreen;
        border: 1px solid $cLemon;

        &:hover {
            background-color: $cLemon;
            border: 1px solid $cLemonGreen;
        }
    }

    &--remove {
        background-color: $cOrangeRed;
        border: 1px solid $cDarkRed;

        &:hover {
            background-color: $cDarkRed;
            border: 1px solid $cOrangeRed;
        }
    }
}